@page
@using TuneTrove_presentation.Pages
@using TuneTrove_Logic.Models
@using TuneTrove_DAL
@model TuneTrove_presentation.Pages.BandPageModel
@{
	ViewData["Title"] = "Band Page";
}

<h2>Band Page</h2>

<form method="post">
	<input type="hidden" name="page" value="@Model.PageIndex" />
	<button type="submit" formaction="/BandPage?handler=PrevPage">Previous</button>
	<button type="submit" formaction="/BandPage?handler=NextPage">Next</button>
</form>

<form method="get" action="/CreateBand">
	<button type="submit">Create New Band</button>
</form>

<div class="text-center">
	<h1 class="display-4">Bands</h1>
	<p>Temp.</p>
	<table>
		<tr>
			<th>Id</th>
			<th>Band leider</th>
			<th>Muzikanten</th>
			<th>Setlists</th>
		</tr>
		@{

			foreach (Band band in Model.BandPage)
			{
				<tr>
					<td>@band.Id</td>
					<td>@band.BandLeider.Name</td>
					<td>
						@foreach (Muzikant muzikant in band.Muzikanten)
						{
							<p>@muzikant.Name - </p>
						}
					</td>
					<td>					
						@foreach (Setlist setlist in band.Setlists)
						{
							<p>Setlist @setlist.Id </p>
						}
					</td>
				</tr>
			}
		}
	</table>
</div>
