@page
@using TuneTrove_presentation
@using System.Reflection
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TuneTrove_Logic.DTOs
@model TuneTrove_presentation.Pages.MuzikantPageModel
@{
	ViewData["Title"] = "Muzikant Page";
}

<div class="container mt-5">
	<h2 class="text-center mb-4">Muzikant Page</h2>

	<div class="d-flex justify-content-between mb-3">
		<form method="post" class="d-inline">
			<input type="hidden" name="page" value="@Model.PageIndex" />
			<button type="submit" formaction="/MuzikantPage?page=@Model.PrevPage()" class="btn btn-primary">Previous</button>
			<button type="submit" formaction="/MuzikantPage?page=@Model.NextPage()" class="btn btn-primary">Next</button>
		</form>
		<form method="get" action="/CreateMuzikant" class="d-inline">
			<button type="submit" class="btn btn-success">Create New Muzikant</button>
		</form>
	</div>

	<div class="text-center">
		<h1 class="display-4">Muzikant</h1>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th style="width: 5%;">Id</th>
						<th style="width: 20%;" class="text-wrap">Name</th>
						<th style="width: 20%;" class="text-wrap">Instrument</th>
						<th style="width: 20%;" class="text-wrap">Bands</th>
						<th style="width: 20%;" class="text-wrap">Setlists</th>
						<th style="width: 20%;" class="text-wrap">Songs</th>
						<th style="width: 15%;">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (MuzikantDTO muzikant in Model.MuzikantPage)
					{
						<tr>
							<td>@muzikant.Id</td>
							<td class="text-wrap" style="max-width: 200px; overflow-wrap: break-word;">@muzikant.Name</td>
							<td class="text-wrap" style="max-width: 200px; overflow-wrap: break-word;">@muzikant.Instrument</td>
							<td class="text-wrap" style="max-width: 200px; overflow-wrap: break-word;">
								@foreach (BandDTO band in muzikant.Bands)
								{
									<div>@band.Name</div>
								}
							</td>
							<td class="text-wrap" style="max-width: 200px; overflow-wrap: break-word;">
								@foreach (SetlistDTO setlist in muzikant.Setlists)
								{
									<div>Setlist @setlist.Id</div>
								}
							</td>
							<td class="text-wrap" style="max-width: 200px; overflow-wrap: break-word;">
							@foreach (NummerDTO nummer in muzikant.Nummers)
							{
								<div>@nummer.Name By @nummer.Artiest - Length: @nummer.Length seconds</div>
							}
							<td>
								<a href="/EditBand?id=@muzikant.Id" class="btn btn-warning btn-sm">Edit</a>
								<form method="post" class="d-inline" asp-page-handler="Delete">
									<input type="hidden" name="bandId" value="@muzikant.Id" />
									<button type="submit" class="btn btn-danger btn-sm">Delete</button>
								</form>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
